<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="0238a92c-674d-4741-858d-26b65d2588f4" Publisher="CN=Tao" Version="1.0.0.0" />
  <Properties>
    <DisplayName>OKr.Win8Book.Client</DisplayName>
    <PublisherDisplayName>Tao</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="OKr.Win8Book.Client.App">
      <VisualElements DisplayName="OKr Reader" Logo="Assets\Img\Logo.png" SmallLogo="Assets\Img\SmallLogo.png" Description="A win8 ebook reader for txt and pics." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="OKrBook" />
        <SplashScreen Image="Assets\Img\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>