<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="source_root" value="C:\okr\ModernReader\WPReader\Reader\OKr.MXReader.Client\"/>
    <add key="csproj_name" value="OKr.MXReader.Client.csproj"/>
    <add key="book_cn_summary" value="小人书，又叫连环画，许多成年人对小人书有一种挥之不去的依恋，在他们的童年时代，几乎都会有小人书相伴。曾经陪伴几代人的连环画无可奈何地衰落了。因此，我们特意制作了本系列连环画应用，旨在帮助大家找回儿时的记忆。一份永久珍藏。一段时光记忆。一次童趣之旅。软件提供了以下基本功能：1 横屏阅读，左右滑动进行翻页。2 下次进入从上次阅读点开始，无需重新开始。"/>
    <add key="book_en_summary" value="The content and UI of this application is in Chinese. This is a comic book about Song Dynasty of China, the period of Song is colorful ages in the long Chinese history. Over 300 years (960—1276), China  encounter a lot of wars and develop a high speed economy. In this ages, you can find lots of talent People: Zhao Kuangyi, Yue Fei, Su shi, Zhao Jie... This app is a series of Song Dynasty, including 20 apps, please find other apps in marketplace."/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
